# ไฟล์ที่คอมไพล์ขึ้นมาจาก C
*.o
*.out
*.elf
*.exe

# ไฟล์สำหรับ debug
*.dSYM/
*.log

# VS Code config
.vscode/

# ไฟล์สำรองจาก editor
*~
*.swp

# MacOS metadata
.DS_Store

# ไฟล์ที่คอมไพล์ขึ้นมาจาก C++
Chapter\ 01/Chapter_1-1
Chapter\ 01/Chapter_1-2
Chapter\ 01/Chapter_1-3
Chapter\ 01/Chapter_1-4
Chapter\ 01/Chapter_1-5
Chapter\ 02/Chapter_2-1
Chapter\ 02/Chapter_2-2
Chapter\ 02/Chapter_2-3
Chapter\ 02/Chapter_2-4
Chapter\ 02/Chapter_2-5
Chapter\ 03/Chapter_3-1
Chapter\ 03/Chapter_3-2
Chapter\ 03/Chapter_3-3
Chapter\ 03/Chapter_3-4
Chapter\ 03/Chapter_3-5
Chapter\ 04/Chapter_4-1
Chapter\ 04/Chapter_4-2
Chapter\ 04/Chapter_4-3
Chapter\ 04/Chapter_4-4
Chapter\ 04/Chapter_4-5
Chapter\ 05/Chapter_5-1
Chapter\ 05/Chapter_5-2
Chapter\ 05/Chapter_5-3
Chapter\ 05/Chapter_5-4
Chapter\ 05/Chapter_5-5
Chapter\ 06/Chapter_6-1
Chapter\ 06/Chapter_6-2
Chapter\ 06/Chapter_6-3
Chapter\ 06/Chapter_6-4
Chapter\ 06/Chapter_6-5
Chapter\ 07/Chapter_7-1
Chapter\ 07/Chapter_7-2
Chapter\ 07/Chapter_7-3
Chapter\ 07/Chapter_7-4
Chapter\ 07/Chapter_7-5
Chapter\ 08/Chapter_8-1
Chapter\ 08/Chapter_8-2
Chapter\ 08/Chapter_8-3
Chapter\ 08/Chapter_8-4
Chapter\ 08/Chapter_8-5
Chapter\ 09/Chapter_9-1
Chapter\ 09/Chapter_9-2
Chapter\ 09/Chapter_9-3
Chapter\ 09/Chapter_9-4
Chapter\ 09/Chapter_9-5
Chapter\ 10/Chapter_10-1
Chapter\ 10/Chapter_10-2
Chapter\ 10/Chapter_10-3
Chapter\ 10/Chapter_10-4
Chapter\ 10/Chapter_10-5
Chapter\ 11/Chapter_11-1
Chapter\ 11/Chapter_11-2
Chapter\ 11/Chapter_11-3
Chapter\ 11/Chapter_11-4
Chapter\ 11/Chapter_11-5
Chapter\ 12/Chapter_12-1
Chapter\ 12/Chapter_12-2
Chapter\ 12/Chapter_12-3
Chapter\ 12/Chapter_12-4
Chapter\ 12/Chapter_12-5
Chapter\ 13/Chapter_13-1
Chapter\ 13/Chapter_13-2
Chapter\ 13/Chapter_13-3
Chapter\ 13/Chapter_13-4
Chapter\ 13/Chapter_13-5
Chapter\ 14/Chapter_14-1
Chapter\ 14/Chapter_14-2
Chapter\ 14/Chapter_14-3
Chapter\ 14/Chapter_14-4
Chapter\ 14/Chapter_14-5
Chapter\ 15/Chapter_15-1
Chapter\ 15/Chapter_15-2
Chapter\ 15/Chapter_15-3
Chapter\ 15/Chapter_15-4
Chapter\ 15/Chapter_15-5